<!DOCTYPE html>

<html ng-app="app">
<head>
	<meta charset="utf-8" />
	<title></title>
	<link rel="stylesheet" href="lib/bootstrap/css/bootstrap-theme.css" />
	<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css" />
	<link rel="stylesheet" href="css/styles.css" />
	<script type="text/javascript" src="lib/jquery/jquery.js"></script>
	<script type="text/javascript" src="lib/bootstrap/js/bootstrap.js"></script>
	<script type="text/javascript" src="lib/angular/angular.js"></script>
	<script type="text/javascript" src="scripts/app.js"></script>
	<script type="text/javascript" src="scripts/game.js"></script>
	<script type="text/javascript" src="scripts/shuffle.js"></script>
</head>
<body ng-controller="GameController">
	<div class="container" id="game-module">
		<div class="board" >
			<h3>{{game.title}}</h3>
			<div ng-repeat="tile in game.tileDeck" ng-click="game.flipTile(tile)">
				<div class="card" ng-class="{flipped: !tile.flipped}">
					<img class="front" ng-src="img/{{tile.tileTitle}}.png">
					<img class="back" ng-src="img/back.png">
				</div>
			</div>
			<div class="message">{{game.message}}</div>
		</div>
	</div>
</body>
</html>
