#game-module{
	width: 800px;
	.board{
		display:inline;
		padding: 10px;
	}
	.card{
	  width: 165px;
	  height: 200px;
	  display: inline;
	  float: left;
  
	  -webkit-transition: -webkit-transform 1s;
	  -moz-transition: -moz-transform 1s;
	  -ms-transition: -ms-transform 1s;
	  -o-transition: -o-transform 1s;
	  transition: transform 1s;
	  -webkit-transform-style: preserve-3d;
	  -moz-transform-style: preserve-3d;
	  -ms-transform-style: preserve-3d;
	  -o-transform-style: preserve-3d;
	  transform-style: preserve-3d;
	}
}

@media screen and (max-width: 690px) {
	#game-module{
		width:400px;
		.card {
			width: 90px;
			height: 75px;
		}
		.card .front {
			width: 90px;
			height: 75px;
		}
	}
}


