#game-module{
	width: 700px;
	.board{
		display:inline;
		padding: 10px;
	}
	.card{
	  width: 165px;
	  height: 200px;
	  display: inline;
	  float: left;
  
	  -webkit-transition: -webkit-transform 3s;
	  -moz-transition: -moz-transform 3s;
	  -ms-transition: -ms-transform 3s;
	  -o-transition: -o-transform 3s;
	  transition: transform 3s;
	  -webkit-transform-style: preserve-3d;
	  -moz-transform-style: preserve-3d;
	  -ms-transform-style: preserve-3d;
	  -o-transform-style: preserve-3d;
	  transform-style: preserve-3d;
	}
	.card.flipped {
	  .transform(180deg);
	}
	.card .back {
	  .transform(180deg);  
	}

	.transform(@amount){
	  -webkit-transform: rotateY(@amount);
	  -moz-transform: rotateY(@amount);
	  -ms-transform: rotateY(@amount);
	  -o-transform: rotateY(@amount);
	  transform: rotateY(@amount);
	}
    img {
	  height: 100%;
      width: 100%;
	  position: absolute;
	  float:left;
	  -webkit-backface-visibility: hidden;
	  -moz-backface-visibility: hidden;
	  -ms-backface-visibility: hidden;
	  -o-backface-visibility: hidden;
	  backface-visibility: hidden;
	}
}


@media screen and (max-width: 690px) {
	#game-module{
		width:400px;
		.card {
			width: 90px;
			height: 75px;
		}
		.card .front {
			width: 90px;
			height: 75px;
		}
	}
}


