<div class="container" id="game-module">
	<div class="board">
		<h3>{{game.title}}</h3>
		<div class="stats text-center">
			<span>Pairs left to match: {{game.unmatchedPairs}}</span>
			<span>Turns Taken: {{game.turn}}</span>
		</div>
		<div ng-repeat="tile in game.tileDeck" ng-click="game.flipTile(tile)">
			<div class="card" ng-class="{flipped: !tile.flipped}">
				<img class="front" ng-src="img/{{tile.tileTitle}}.png">
				<img class="back" ng-src="img/back.png">
			</div>
		</div>
		<div class="message">{{game.message}}</div>
	</div>
</div>